In [5]:
import os
import numpy as np
import pandas as pd
import zipfile

In [6]:
path_dir = 'D:\\workspace\\Today-I-Learned\\2022-1-ProbabilisticGraphicalModelAndNetworkData\\dataset'

In [7]:
zip = os.listdir(path_dir)

In [13]:
zip

['서울특별시 공공자전거 이용정보(시간대별)_21.01.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.02.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.03.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.04.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.05.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.06.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.07.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.08.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.09.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.10.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.11.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.12.csv']

In [16]:
january = pd.read_csv(path_dir+'\\'+zip[0], encoding='cp949')
january

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간
0,2021-01-01,0,1347,1347. 길음래미안아파트817동 상가 앞,정기권,NaN,~10대,2,28.90,0.23,992.78,13
1,2021-01-01,0,1349,1349. 월계2교 버스정류장 앞,정기권,NaN,~10대,1,34.38,0.26,1127.50,10
2,2021-01-01,0,1168,1168. 마곡엠밸리10단지 앞,정기권,NaN,~10대,1,0.00,0.00,0.00,7
3,2021-01-01,0,2619,2619. 석촌고분역 4번출구,정기권,NaN,~10대,1,38.75,0.38,1658.34,14
4,2021-01-01,0,536,536. 행당역 2번출구 앞,정기권,NaN,~10대,1,12.96,0.17,743.88,5
...,...,...,...,...,...,...,...,...,...,...,...,...
718852,2021-01-31,23,207,207. 여의나루역 1번출구 앞,단체권,NaN,~10대,5,916.66,8.66,37335.95,219
718853,2021-01-31,23,3549,3549.건영아파트 앞,단체권,NaN,20대,2,492.87,4.51,19447.10,133
718854,2021-01-31,23,248,248. 초원아파트 앞,단체권,NaN,20대,2,348.43,2.91,12569.64,90
718855,2021-01-31,23,131,131. 증산2교,단체권,NaN,20대,2,98.10,0.77,3302.87,20
718856,2021-01-31,23,247,247. 당산역 10번출구 앞,단체권,M,40대,1,223.71,2.02,8691.10,52

In [19]:
rent_day = january['대여일자'].unique()
rent_day

array(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
       '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
       '2021-01-09', '2021-01-10', '2021-01-11', '2021-01-12',
       '2021-01-13', '2021-01-14', '2021-01-15', '2021-01-16',
       '2021-01-17', '2021-01-18', '2021-01-19', '2021-01-20',
       '2021-01-22', '2021-01-23', '2021-01-24', '2021-01-25',
       '2021-01-26', '2021-01-27', '2021-01-28', '2021-01-29',
       '2021-01-30', '2021-01-31'], dtype=object)

In [21]:
rent_time = january['대여시간'].unique()
rent_time

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23], dtype=int64)

In [23]:
station_id = january['대여소번호'].unique()
print(station_id)
print(len(station_id))

[1347 1349 1168 ... 3863 4607 3878]
2188

In [79]:
january_rentday = []

for i in rent_day:
    for j in range(len(rent_time)):
        january_rentday.append(i)

january_rentday = np.array(january_rentday)
print(january_rentday)
print(len(january_rentday))
print(january_rentday.shape)

['2021-01-01' '2021-01-01' '2021-01-01' '2021-01-01' '2021-01-01'
 '2021-01-01' '2021-01-01' '2021-01-01' '2021-01-01' '2021-01-01'
 '2021-01-01' '2021-01-01' '2021-01-01' '2021-01-01' '2021-01-01'
 '2021-01-01' '2021-01-01' '2021-01-01' '2021-01-01' '2021-01-01'
 '2021-01-01' '2021-01-01' '2021-01-01' '2021-01-01' '2021-01-02'
 '2021-01-02' '2021-01-02' '2021-01-02' '2021-01-02' '2021-01-02'
 '2021-01-02' '2021-01-02' '2021-01-02' '2021-01-02' '2021-01-02'
 '2021-01-02' '2021-01-02' '2021-01-02' '2021-01-02' '2021-01-02'
 '2021-01-02' '2021-01-02' '2021-01-02' '2021-01-02' '2021-01-02'
 '2021-01-02' '2021-01-02' '2021-01-02' '2021-01-03' '2021-01-03'
 '2021-01-03' '2021-01-03' '2021-01-03' '2021-01-03' '2021-01-03'
 '2021-01-03' '2021-01-03' '2021-01-03' '2021-01-03' '2021-01-03'
 '2021-01-03' '2021-01-03' '2021-01-03' '2021-01-03' '2021-01-03'
 '2021-01-03' '2021-01-03' '2021-01-03' '2021-01-03' '2021-01-03'
 '2021-01-03' '2021-01-03' '2021-01-04' '2021-01-04' '2021-01-04'
 '2021-01-04' '2021-01-04' '2021-01-04' '2021-01-04' '2021-01-04'
 '2021-01-04' '2021-01-04' '2021-01-04' '2021-01-04' '2021-01-04'
 '2021-01-04' '2021-01-04' '2021-01-04' '2021-01-04' '2021-01-04'
 '2021-01-04' '2021-01-04' '2021-01-04' '2021-01-04' '2021-01-04'
 '2021-01-04' '2021-01-05' '2021-01-05' '2021-01-05' '2021-01-05'
 '2021-01-05' '2021-01-05' '2021-01-05' '2021-01-05' '2021-01-05'
 '2021-01-05' '2021-01-05' '2021-01-05' '2021-01-05' '2021-01-05'
 '2021-01-05' '2021-01-05' '2021-01-05' '2021-01-05' '2021-01-05'
 '2021-01-05' '2021-01-05' '2021-01-05' '2021-01-05' '2021-01-05'
 '2021-01-06' '2021-01-06' '2021-01-06' '2021-01-06' '2021-01-06'
 '2021-01-06' '2021-01-06' '2021-01-06' '2021-01-06' '2021-01-06'
 '2021-01-06' '2021-01-06' '2021-01-06' '2021-01-06' '2021-01-06'
 '2021-01-06' '2021-01-06' '2021-01-06' '2021-01-06' '2021-01-06'
 '2021-01-06' '2021-01-06' '2021-01-06' '2021-01-06' '2021-01-07'
 '2021-01-07' '2021-01-07' '2021-01-07' '2021-01-07' '2021-01-07'
 '2021-01-07' '2021-01-07' '2021-01-07' '2021-01-07' '2021-01-07'
 '2021-01-07' '2021-01-07' '2021-01-07' '2021-01-07' '2021-01-07'
 '2021-01-07' '2021-01-07' '2021-01-07' '2021-01-07' '2021-01-07'
 '2021-01-07' '2021-01-07' '2021-01-07' '2021-01-08' '2021-01-08'
 '2021-01-08' '2021-01-08' '2021-01-08' '2021-01-08' '2021-01-08'
 '2021-01-08' '2021-01-08' '2021-01-08' '2021-01-08' '2021-01-08'
 '2021-01-08' '2021-01-08' '2021-01-08' '2021-01-08' '2021-01-08'
 '2021-01-08' '2021-01-08' '2021-01-08' '2021-01-08' '2021-01-08'
 '2021-01-08' '2021-01-08' '2021-01-09' '2021-01-09' '2021-01-09'
 '2021-01-09' '2021-01-09' '2021-01-09' '2021-01-09' '2021-01-09'
 '2021-01-09' '2021-01-09' '2021-01-09' '2021-01-09' '2021-01-09'
 '2021-01-09' '2021-01-09' '2021-01-09' '2021-01-09' '2021-01-09'
 '2021-01-09' '2021-01-09' '2021-01-09' '2021-01-09' '2021-01-09'
 '2021-01-09' '2021-01-10' '2021-01-10' '2021-01-10' '2021-01-10'
 '2021-01-10' '2021-01-10' '2021-01-10' '2021-01-10' '2021-01-10'
 '2021-01-10' '2021-01-10' '2021-01-10' '2021-01-10' '2021-01-10'
 '2021-01-10' '2021-01-10' '2021-01-10' '2021-01-10' '2021-01-10'
 '2021-01-10' '2021-01-10' '2021-01-10' '2021-01-10' '2021-01-10'
 '2021-01-11' '2021-01-11' '2021-01-11' '2021-01-11' '2021-01-11'
 '2021-01-11' '2021-01-11' '2021-01-11' '2021-01-11' '2021-01-11'
 '2021-01-11' '2021-01-11' '2021-01-11' '2021-01-11' '2021-01-11'
 '2021-01-11' '2021-01-11' '2021-01-11' '2021-01-11' '2021-01-11'
 '2021-01-11' '2021-01-11' '2021-01-11' '2021-01-11' '2021-01-12'
 '2021-01-12' '2021-01-12' '2021-01-12' '2021-01-12' '2021-01-12'
 '2021-01-12' '2021-01-12' '2021-01-12' '2021-01-12' '2021-01-12'
 '2021-01-12' '2021-01-12' '2021-01-12' '2021-01-12' '2021-01-12'
 '2021-01-12' '2021-01-12' '2021-01-12' '2021-01-12' '2021-01-12'
 '2021-01-12' '2021-01-12' '2021-01-12' '2021-01-13' '2021-01-13'
 '2021-01-13' '2021-01-13' '2021-01-13' '2021-01-13' '2021-01-13'
 '2021-01-13' '2021-01-13' '2021-01-13' '2021-01-13' '2021-01-13'
 '2021-01-13' '2021-01-13' '2021-01-13' '2021-01-13' '2021-01-13'
 '2021-01-13' '2021-01-13' '2021-01-13' '2021-01-13' '2021-01-13'
 '2021-01-13' '2021-01-13' '2021-01-14' '2021-01-14' '2021-01-14'
 '2021-01-14' '2021-01-14' '2021-01-14' '2021-01-14' '2021-01-14'
 '2021-01-14' '2021-01-14' '2021-01-14' '2021-01-14' '2021-01-14'
 '2021-01-14' '2021-01-14' '2021-01-14' '2021-01-14' '2021-01-14'
 '2021-01-14' '2021-01-14' '2021-01-14' '2021-01-14' '2021-01-14'
 '2021-01-14' '2021-01-15' '2021-01-15' '2021-01-15' '2021-01-15'
 '2021-01-15' '2021-01-15' '2021-01-15' '2021-01-15' '2021-01-15'
 '2021-01-15' '2021-01-15' '2021-01-15' '2021-01-15' '2021-01-15'
 '2021-01-15' '2021-01-15' '2021-01-15' '2021-01-15' '2021-01-15'
 '2021-01-15' '2021-01-15' '2021-01-15' '2021-01-15' '2021-01-15'
 '2021-01-16' '2021-01-16' '2021-01-16' '2021-01-16' '2021-01-16'
 '2021-01-16' '2021-01-16' '2021-01-16' '2021-01-16' '2021-01-16'
 '2021-01-16' '2021-01-16' '2021-01-16' '2021-01-16' '2021-01-16'
 '2021-01-16' '2021-01-16' '2021-01-16' '2021-01-16' '2021-01-16'
 '2021-01-16' '2021-01-16' '2021-01-16' '2021-01-16' '2021-01-17'
 '2021-01-17' '2021-01-17' '2021-01-17' '2021-01-17' '2021-01-17'
 '2021-01-17' '2021-01-17' '2021-01-17' '2021-01-17' '2021-01-17'
 '2021-01-17' '2021-01-17' '2021-01-17' '2021-01-17' '2021-01-17'
 '2021-01-17' '2021-01-17' '2021-01-17' '2021-01-17' '2021-01-17'
 '2021-01-17' '2021-01-17' '2021-01-17' '2021-01-18' '2021-01-18'
 '2021-01-18' '2021-01-18' '2021-01-18' '2021-01-18' '2021-01-18'
 '2021-01-18' '2021-01-18' '2021-01-18' '2021-01-18' '2021-01-18'
 '2021-01-18' '2021-01-18' '2021-01-18' '2021-01-18' '2021-01-18'
 '2021-01-18' '2021-01-18' '2021-01-18' '2021-01-18' '2021-01-18'
 '2021-01-18' '2021-01-18' '2021-01-19' '2021-01-19' '2021-01-19'
 '2021-01-19' '2021-01-19' '2021-01-19' '2021-01-19' '2021-01-19'
 '2021-01-19' '2021-01-19' '2021-01-19' '2021-01-19' '2021-01-19'
 '2021-01-19' '2021-01-19' '2021-01-19' '2021-01-19' '2021-01-19'
 '2021-01-19' '2021-01-19' '2021-01-19' '2021-01-19' '2021-01-19'
 '2021-01-19' '2021-01-20' '2021-01-20' '2021-01-20' '2021-01-20'
 '2021-01-20' '2021-01-20' '2021-01-20' '2021-01-20' '2021-01-20'
 '2021-01-20' '2021-01-20' '2021-01-20' '2021-01-20' '2021-01-20'
 '2021-01-20' '2021-01-20' '2021-01-20' '2021-01-20' '2021-01-20'
 '2021-01-20' '2021-01-20' '2021-01-20' '2021-01-20' '2021-01-20'
 '2021-01-22' '2021-01-22' '2021-01-22' '2021-01-22' '2021-01-22'
 '2021-01-22' '2021-01-22' '2021-01-22' '2021-01-22' '2021-01-22'
 '2021-01-22' '2021-01-22' '2021-01-22' '2021-01-22' '2021-01-22'
 '2021-01-22' '2021-01-22' '2021-01-22' '2021-01-22' '2021-01-22'
 '2021-01-22' '2021-01-22' '2021-01-22' '2021-01-22' '2021-01-23'
 '2021-01-23' '2021-01-23' '2021-01-23' '2021-01-23' '2021-01-23'
 '2021-01-23' '2021-01-23' '2021-01-23' '2021-01-23' '2021-01-23'
 '2021-01-23' '2021-01-23' '2021-01-23' '2021-01-23' '2021-01-23'
 '2021-01-23' '2021-01-23' '2021-01-23' '2021-01-23' '2021-01-23'
 '2021-01-23' '2021-01-23' '2021-01-23' '2021-01-24' '2021-01-24'
 '2021-01-24' '2021-01-24' '2021-01-24' '2021-01-24' '2021-01-24'
 '2021-01-24' '2021-01-24' '2021-01-24' '2021-01-24' '2021-01-24'
 '2021-01-24' '2021-01-24' '2021-01-24' '2021-01-24' '2021-01-24'
 '2021-01-24' '2021-01-24' '2021-01-24' '2021-01-24' '2021-01-24'
 '2021-01-24' '2021-01-24' '2021-01-25' '2021-01-25' '2021-01-25'
 '2021-01-25' '2021-01-25' '2021-01-25' '2021-01-25' '2021-01-25'
 '2021-01-25' '2021-01-25' '2021-01-25' '2021-01-25' '2021-01-25'
 '2021-01-25' '2021-01-25' '2021-01-25' '2021-01-25' '2021-01-25'
 '2021-01-25' '2021-01-25' '2021-01-25' '2021-01-25' '2021-01-25'
 '2021-01-25' '2021-01-26' '2021-01-26' '2021-01-26' '2021-01-26'
 '2021-01-26' '2021-01-26' '2021-01-26' '2021-01-26' '2021-01-26'
 '2021-01-26' '2021-01-26' '2021-01-26' '2021-01-26' '2021-01-26'
 '2021-01-26' '2021-01-26' '2021-01-26' '2021-01-26' '2021-01-26'
 '2021-01-26' '2021-01-26' '2021-01-26' '2021-01-26' '2021-01-26'
 '2021-01-27' '2021-01-27' '2021-01-27' '2021-01-27' '2021-01-27'
 '2021-01-27' '2021-01-27' '2021-01-27' '2021-01-27' '2021-01-27'
 '2021-01-27' '2021-01-27' '2021-01-27' '2021-01-27' '2021-01-27'
 '2021-01-27' '2021-01-27' '2021-01-27' '2021-01-27' '2021-01-27'
 '2021-01-27' '2021-01-27' '2021-01-27' '2021-01-27' '2021-01-28'
 '2021-01-28' '2021-01-28' '2021-01-28' '2021-01-28' '2021-01-28'
 '2021-01-28' '2021-01-28' '2021-01-28' '2021-01-28' '2021-01-28'
 '2021-01-28' '2021-01-28' '2021-01-28' '2021-01-28' '2021-01-28'
 '2021-01-28' '2021-01-28' '2021-01-28' '2021-01-28' '2021-01-28'
 '2021-01-28' '2021-01-28' '2021-01-28' '2021-01-29' '2021-01-29'
 '2021-01-29' '2021-01-29' '2021-01-29' '2021-01-29' '2021-01-29'
 '2021-01-29' '2021-01-29' '2021-01-29' '2021-01-29' '2021-01-29'
 '2021-01-29' '2021-01-29' '2021-01-29' '2021-01-29' '2021-01-29'
 '2021-01-29' '2021-01-29' '2021-01-29' '2021-01-29' '2021-01-29'
 '2021-01-29' '2021-01-29' '2021-01-30' '2021-01-30' '2021-01-30'
 '2021-01-30' '2021-01-30' '2021-01-30' '2021-01-30' '2021-01-30'
 '2021-01-30' '2021-01-30' '2021-01-30' '2021-01-30' '2021-01-30'
 '2021-01-30' '2021-01-30' '2021-01-30' '2021-01-30' '2021-01-30'
 '2021-01-30' '2021-01-30' '2021-01-30' '2021-01-30' '2021-01-30'
 '2021-01-30' '2021-01-31' '2021-01-31' '2021-01-31' '2021-01-31'
 '2021-01-31' '2021-01-31' '2021-01-31' '2021-01-31' '2021-01-31'
 '2021-01-31' '2021-01-31' '2021-01-31' '2021-01-31' '2021-01-31'
 '2021-01-31' '2021-01-31' '2021-01-31' '2021-01-31' '2021-01-31'
 '2021-01-31' '2021-01-31' '2021-01-31' '2021-01-31' '2021-01-31']
720
(720,)

In [78]:
january_renttime = []

for i in range(len(rent_day)):
    for j in rent_time:
        january_renttime.append(j)

january_renttime = np.array(january_renttime)
print(january_renttime)
print(len(january_renttime))
print(january_renttime.shape)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]
720
(720,)

In [82]:
np_time = np.concatenate((january_rentday.reshape(1,-1),january_renttime.reshape(1,-1)), axis=0)
print(len(np_time))
print(np_time.shape)
print(np_time)

2
(2, 720)
[['2021-01-01' '2021-01-01' '2021-01-01' ... '2021-01-31' '2021-01-31'
  '2021-01-31']
 ['0' '1' '2' ... '21' '22' '23']]

In [84]:
df_time = pd.DataFrame(np_time.T, columns=['대여일자', '대여일시'])
print(len(df_time))
print(df_time.shape)
df_time

720
(720, 2)

           대여일자 대여일시
0    2021-01-01    0
1    2021-01-01    1
2    2021-01-01    2
3    2021-01-01    3
4    2021-01-01    4
..          ...  ...
715  2021-01-31   19
716  2021-01-31   20
717  2021-01-31   21
718  2021-01-31   22
719  2021-01-31   23

[720 rows x 2 columns]

In [85]:
station_id = pd.DataFrame(columns=station_id)
station_id

Empty DataFrame
Columns: [1347, 1349, 1168, 2619, 536, 192, 1118, 1936, 1038, 1157, 1264, 1529, 1533, 1535, 3511, 2175, 956, 1457, 1737, 1686, 340, 2601, 656, 3536, 3537, 1692, 352, 2632, 2638, 3207, 2719, 2901, 853, 3115, 1390, 673, 1469, 3558, 3904, 4103, 709, 579, 102, 265, 818, 103, 1209, 1515, 1516, 1321, 2102, 2106, 2127, 1211, 2222, 2333, 1946, 1218, 1247, 1440, 1642, 391, 108, 1150, 1339, 2169, 1047, 1455, 1364, 283, 2621, 2824, 1462, 3570, 3571, 4117, 227, 553, 640, 220, 1834, 2050, 2009, 2239, 1125, 1620, 3501, 3509, 2282, 2177, 2390, 1199, 2639, 2427, 2515, 3011, 548, 259, 551, 105, ...]
Index: []

[0 rows x 2188 columns]

In [88]:
df = pd.concat([df_time, station_id], axis=1).fillna(0)
df

,대여일자,대여일시,1347,1349,1168,2619,536,192,1118,1936,...,4211,4622,4613,1627,4623,3864,3873,3863,4607,3878
0,2021-01-01,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2021-01-01,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2021-01-01,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2021-01-01,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2021-01-01,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,2021-01-31,19,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
716,2021-01-31,20,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
717,2021-01-31,21,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
718,2021-01-31,22,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
719,2021-01-31,23,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0