In [1]:
import os
import numpy as np
import pandas as pd
from tqdm import tqdm
import csv

In [2]:
path_dir = 'D:\\workspace\\Today-I-Learned\\2022-1-ProbabilisticGraphicalModelAndNetworkData\\dataset'

In [3]:
zip = os.listdir(path_dir)

In [4]:
zip

['서울특별시 공공자전거 이용정보(시간대별)_21.01.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.02.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.03.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.04.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.05.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.06.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.07.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.08.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.09.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.10.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.11.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.12.csv']

In [5]:
january = pd.read_csv(path_dir+'\\'+zip[0], encoding='CP949')
'''january
january = open(path_dir+'\\'+zip[2],'r',encoding='UTF-8')
import csv
wr = csv.writer(january)
rdr = csv.reader(january)
for line in rdr:
    print(line)
    break
'''

"january\njanuary = open(path_dir+'\\'+zip[2],'r',encoding='UTF-8')\nimport csv\nwr = csv.writer(january)\nrdr = csv.reader(january)\nfor line in rdr:\n    print(line)\n    break\n"

In [8]:
#df = pd.read_csv('C:\\Users\\JungInKim\\Desktop\\h\data\\서울특별시 공공자전거 이용정보(시간대별)_21.03.csv',encoding='CP949')
import csv
with open('D:\\workspace\\Today-I-Learned\\2022-1-ProbabilisticGraphicalModelAndNetworkData\\dataset\\서울특별시 공공자전거 이용정보(시간대별)_21.01.csv','r+',encoding='CP949',errors='ignore') as f :
    reader = csv.reader(f)
    for i,row in enumerate(reader):
        if i == 0:
            columns_name = row
        else :
            break
    df = pd.DataFrame(reader,columns=columns_name)

In [9]:
df

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간
0,2021-01-01,00,01349,1349. 월계2교 버스정류장 앞,정기권,,~10대,1,34.38,0.26,1127.50,10
1,2021-01-01,00,01168,1168. 마곡엠밸리10단지 앞,정기권,,~10대,1,0.00,0.00,0.00,7
2,2021-01-01,00,02619,2619. 석촌고분역 4번출구,정기권,,~10대,1,38.75,0.38,1658.34,14
3,2021-01-01,00,00536,536. 행당역 2번출구 앞,정기권,,~10대,1,12.96,0.17,743.88,5
4,2021-01-01,00,00192,192. 연서어린이공원,정기권,,~10대,1,23.40,0.21,908.98,7
...,...,...,...,...,...,...,...,...,...,...,...,...
718851,2021-01-31,23,00207,207. 여의나루역 1번출구 앞,단체권,,~10대,5,916.66,8.66,37335.95,219
718852,2021-01-31,23,03549,3549.건영아파트 앞,단체권,,20대,2,492.87,4.51,19447.10,133
718853,2021-01-31,23,00248,248. 초원아파트 앞,단체권,,20대,2,348.43,2.91,12569.64,90
718854,2021-01-31,23,00131,131. 증산2교,단체권,,20대,2,98.10,0.77,3302.87,20
718855,2021-01-31,23,00247,247. 당산역 10번출구 앞,단체권,M,40대,1,223.71,2.02,8691.10,52

In [10]:
rent_day = january['대여일자'].unique()
rent_day

array(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
       '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
       '2021-01-09', '2021-01-10', '2021-01-11', '2021-01-12',
       '2021-01-13', '2021-01-14', '2021-01-15', '2021-01-16',
       '2021-01-17', '2021-01-18', '2021-01-19', '2021-01-20',
       '2021-01-22', '2021-01-23', '2021-01-24', '2021-01-25',
       '2021-01-26', '2021-01-27', '2021-01-28', '2021-01-29',
       '2021-01-30', '2021-01-31'], dtype=object)

In [11]:
rent_time = january['대여시간'].unique()
rent_time

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23], dtype=int64)

In [12]:
station_id = january['대여소번호'].unique()
print(station_id)
print(len(station_id))

[1347 1349 1168 ... 3863 4607 3878]
2188

In [13]:
january_rentday = []

for i in rent_day:
    for j in range(len(rent_time)):
        january_rentday.append(i)

january_rentday = np.array(january_rentday)
print(january_rentday)
print(len(january_rentday))
print(january_rentday.shape)

['2021-01-01' '2021-01-01' '2021-01-01' '2021-01-01' '2021-01-01'
 '2021-01-01' '2021-01-01' '2021-01-01' '2021-01-01' '2021-01-01'
 '2021-01-01' '2021-01-01' '2021-01-01' '2021-01-01' '2021-01-01'
 '2021-01-01' '2021-01-01' '2021-01-01' '2021-01-01' '2021-01-01'
 '2021-01-01' '2021-01-01' '2021-01-01' '2021-01-01' '2021-01-02'
 '2021-01-02' '2021-01-02' '2021-01-02' '2021-01-02' '2021-01-02'
 '2021-01-02' '2021-01-02' '2021-01-02' '2021-01-02' '2021-01-02'
 '2021-01-02' '2021-01-02' '2021-01-02' '2021-01-02' '2021-01-02'
 '2021-01-02' '2021-01-02' '2021-01-02' '2021-01-02' '2021-01-02'
 '2021-01-02' '2021-01-02' '2021-01-02' '2021-01-03' '2021-01-03'
 '2021-01-03' '2021-01-03' '2021-01-03' '2021-01-03' '2021-01-03'
 '2021-01-03' '2021-01-03' '2021-01-03' '2021-01-03' '2021-01-03'
 '2021-01-03' '2021-01-03' '2021-01-03' '2021-01-03' '2021-01-03'
 '2021-01-03' '2021-01-03' '2021-01-03' '2021-01-03' '2021-01-03'
 '2021-01-03' '2021-01-03' '2021-01-04' '2021-01-04' '2021-01-04'
 '2021-01-04' '2021-01-04' '2021-01-04' '2021-01-04' '2021-01-04'
 '2021-01-04' '2021-01-04' '2021-01-04' '2021-01-04' '2021-01-04'
 '2021-01-04' '2021-01-04' '2021-01-04' '2021-01-04' '2021-01-04'
 '2021-01-04' '2021-01-04' '2021-01-04' '2021-01-04' '2021-01-04'
 '2021-01-04' '2021-01-05' '2021-01-05' '2021-01-05' '2021-01-05'
 '2021-01-05' '2021-01-05' '2021-01-05' '2021-01-05' '2021-01-05'
 '2021-01-05' '2021-01-05' '2021-01-05' '2021-01-05' '2021-01-05'
 '2021-01-05' '2021-01-05' '2021-01-05' '2021-01-05' '2021-01-05'
 '2021-01-05' '2021-01-05' '2021-01-05' '2021-01-05' '2021-01-05'
 '2021-01-06' '2021-01-06' '2021-01-06' '2021-01-06' '2021-01-06'
 '2021-01-06' '2021-01-06' '2021-01-06' '2021-01-06' '2021-01-06'
 '2021-01-06' '2021-01-06' '2021-01-06' '2021-01-06' '2021-01-06'
 '2021-01-06' '2021-01-06' '2021-01-06' '2021-01-06' '2021-01-06'
 '2021-01-06' '2021-01-06' '2021-01-06' '2021-01-06' '2021-01-07'
 '2021-01-07' '2021-01-07' '2021-01-07' '2021-01-07' '2021-01-07'
 '2021-01-07' '2021-01-07' '2021-01-07' '2021-01-07' '2021-01-07'
 '2021-01-07' '2021-01-07' '2021-01-07' '2021-01-07' '2021-01-07'
 '2021-01-07' '2021-01-07' '2021-01-07' '2021-01-07' '2021-01-07'
 '2021-01-07' '2021-01-07' '2021-01-07' '2021-01-08' '2021-01-08'
 '2021-01-08' '2021-01-08' '2021-01-08' '2021-01-08' '2021-01-08'
 '2021-01-08' '2021-01-08' '2021-01-08' '2021-01-08' '2021-01-08'
 '2021-01-08' '2021-01-08' '2021-01-08' '2021-01-08' '2021-01-08'
 '2021-01-08' '2021-01-08' '2021-01-08' '2021-01-08' '2021-01-08'
 '2021-01-08' '2021-01-08' '2021-01-09' '2021-01-09' '2021-01-09'
 '2021-01-09' '2021-01-09' '2021-01-09' '2021-01-09' '2021-01-09'
 '2021-01-09' '2021-01-09' '2021-01-09' '2021-01-09' '2021-01-09'
 '2021-01-09' '2021-01-09' '2021-01-09' '2021-01-09' '2021-01-09'
 '2021-01-09' '2021-01-09' '2021-01-09' '2021-01-09' '2021-01-09'
 '2021-01-09' '2021-01-10' '2021-01-10' '2021-01-10' '2021-01-10'
 '2021-01-10' '2021-01-10' '2021-01-10' '2021-01-10' '2021-01-10'
 '2021-01-10' '2021-01-10' '2021-01-10' '2021-01-10' '2021-01-10'
 '2021-01-10' '2021-01-10' '2021-01-10' '2021-01-10' '2021-01-10'
 '2021-01-10' '2021-01-10' '2021-01-10' '2021-01-10' '2021-01-10'
 '2021-01-11' '2021-01-11' '2021-01-11' '2021-01-11' '2021-01-11'
 '2021-01-11' '2021-01-11' '2021-01-11' '2021-01-11' '2021-01-11'
 '2021-01-11' '2021-01-11' '2021-01-11' '2021-01-11' '2021-01-11'
 '2021-01-11' '2021-01-11' '2021-01-11' '2021-01-11' '2021-01-11'
 '2021-01-11' '2021-01-11' '2021-01-11' '2021-01-11' '2021-01-12'
 '2021-01-12' '2021-01-12' '2021-01-12' '2021-01-12' '2021-01-12'
 '2021-01-12' '2021-01-12' '2021-01-12' '2021-01-12' '2021-01-12'
 '2021-01-12' '2021-01-12' '2021-01-12' '2021-01-12' '2021-01-12'
 '2021-01-12' '2021-01-12' '2021-01-12' '2021-01-12' '2021-01-12'
 '2021-01-12' '2021-01-12' '2021-01-12' '2021-01-13' '2021-01-13'
 '2021-01-13' '2021-01-13' '2021-01-13' '2021-01-13' '2021-01-13'
 '2021-01-13' '2021-01-13' '2021-01-13' '2021-01-13' '2021-01-13'
 '2021-01-13' '2021-01-13' '2021-01-13' '2021-01-13' '2021-01-13'
 '2021-01-13' '2021-01-13' '2021-01-13' '2021-01-13' '2021-01-13'
 '2021-01-13' '2021-01-13' '2021-01-14' '2021-01-14' '2021-01-14'
 '2021-01-14' '2021-01-14' '2021-01-14' '2021-01-14' '2021-01-14'
 '2021-01-14' '2021-01-14' '2021-01-14' '2021-01-14' '2021-01-14'
 '2021-01-14' '2021-01-14' '2021-01-14' '2021-01-14' '2021-01-14'
 '2021-01-14' '2021-01-14' '2021-01-14' '2021-01-14' '2021-01-14'
 '2021-01-14' '2021-01-15' '2021-01-15' '2021-01-15' '2021-01-15'
 '2021-01-15' '2021-01-15' '2021-01-15' '2021-01-15' '2021-01-15'
 '2021-01-15' '2021-01-15' '2021-01-15' '2021-01-15' '2021-01-15'
 '2021-01-15' '2021-01-15' '2021-01-15' '2021-01-15' '2021-01-15'
 '2021-01-15' '2021-01-15' '2021-01-15' '2021-01-15' '2021-01-15'
 '2021-01-16' '2021-01-16' '2021-01-16' '2021-01-16' '2021-01-16'
 '2021-01-16' '2021-01-16' '2021-01-16' '2021-01-16' '2021-01-16'
 '2021-01-16' '2021-01-16' '2021-01-16' '2021-01-16' '2021-01-16'
 '2021-01-16' '2021-01-16' '2021-01-16' '2021-01-16' '2021-01-16'
 '2021-01-16' '2021-01-16' '2021-01-16' '2021-01-16' '2021-01-17'
 '2021-01-17' '2021-01-17' '2021-01-17' '2021-01-17' '2021-01-17'
 '2021-01-17' '2021-01-17' '2021-01-17' '2021-01-17' '2021-01-17'
 '2021-01-17' '2021-01-17' '2021-01-17' '2021-01-17' '2021-01-17'
 '2021-01-17' '2021-01-17' '2021-01-17' '2021-01-17' '2021-01-17'
 '2021-01-17' '2021-01-17' '2021-01-17' '2021-01-18' '2021-01-18'
 '2021-01-18' '2021-01-18' '2021-01-18' '2021-01-18' '2021-01-18'
 '2021-01-18' '2021-01-18' '2021-01-18' '2021-01-18' '2021-01-18'
 '2021-01-18' '2021-01-18' '2021-01-18' '2021-01-18' '2021-01-18'
 '2021-01-18' '2021-01-18' '2021-01-18' '2021-01-18' '2021-01-18'
 '2021-01-18' '2021-01-18' '2021-01-19' '2021-01-19' '2021-01-19'
 '2021-01-19' '2021-01-19' '2021-01-19' '2021-01-19' '2021-01-19'
 '2021-01-19' '2021-01-19' '2021-01-19' '2021-01-19' '2021-01-19'
 '2021-01-19' '2021-01-19' '2021-01-19' '2021-01-19' '2021-01-19'
 '2021-01-19' '2021-01-19' '2021-01-19' '2021-01-19' '2021-01-19'
 '2021-01-19' '2021-01-20' '2021-01-20' '2021-01-20' '2021-01-20'
 '2021-01-20' '2021-01-20' '2021-01-20' '2021-01-20' '2021-01-20'
 '2021-01-20' '2021-01-20' '2021-01-20' '2021-01-20' '2021-01-20'
 '2021-01-20' '2021-01-20' '2021-01-20' '2021-01-20' '2021-01-20'
 '2021-01-20' '2021-01-20' '2021-01-20' '2021-01-20' '2021-01-20'
 '2021-01-22' '2021-01-22' '2021-01-22' '2021-01-22' '2021-01-22'
 '2021-01-22' '2021-01-22' '2021-01-22' '2021-01-22' '2021-01-22'
 '2021-01-22' '2021-01-22' '2021-01-22' '2021-01-22' '2021-01-22'
 '2021-01-22' '2021-01-22' '2021-01-22' '2021-01-22' '2021-01-22'
 '2021-01-22' '2021-01-22' '2021-01-22' '2021-01-22' '2021-01-23'
 '2021-01-23' '2021-01-23' '2021-01-23' '2021-01-23' '2021-01-23'
 '2021-01-23' '2021-01-23' '2021-01-23' '2021-01-23' '2021-01-23'
 '2021-01-23' '2021-01-23' '2021-01-23' '2021-01-23' '2021-01-23'
 '2021-01-23' '2021-01-23' '2021-01-23' '2021-01-23' '2021-01-23'
 '2021-01-23' '2021-01-23' '2021-01-23' '2021-01-24' '2021-01-24'
 '2021-01-24' '2021-01-24' '2021-01-24' '2021-01-24' '2021-01-24'
 '2021-01-24' '2021-01-24' '2021-01-24' '2021-01-24' '2021-01-24'
 '2021-01-24' '2021-01-24' '2021-01-24' '2021-01-24' '2021-01-24'
 '2021-01-24' '2021-01-24' '2021-01-24' '2021-01-24' '2021-01-24'
 '2021-01-24' '2021-01-24' '2021-01-25' '2021-01-25' '2021-01-25'
 '2021-01-25' '2021-01-25' '2021-01-25' '2021-01-25' '2021-01-25'
 '2021-01-25' '2021-01-25' '2021-01-25' '2021-01-25' '2021-01-25'
 '2021-01-25' '2021-01-25' '2021-01-25' '2021-01-25' '2021-01-25'
 '2021-01-25' '2021-01-25' '2021-01-25' '2021-01-25' '2021-01-25'
 '2021-01-25' '2021-01-26' '2021-01-26' '2021-01-26' '2021-01-26'
 '2021-01-26' '2021-01-26' '2021-01-26' '2021-01-26' '2021-01-26'
 '2021-01-26' '2021-01-26' '2021-01-26' '2021-01-26' '2021-01-26'
 '2021-01-26' '2021-01-26' '2021-01-26' '2021-01-26' '2021-01-26'
 '2021-01-26' '2021-01-26' '2021-01-26' '2021-01-26' '2021-01-26'
 '2021-01-27' '2021-01-27' '2021-01-27' '2021-01-27' '2021-01-27'
 '2021-01-27' '2021-01-27' '2021-01-27' '2021-01-27' '2021-01-27'
 '2021-01-27' '2021-01-27' '2021-01-27' '2021-01-27' '2021-01-27'
 '2021-01-27' '2021-01-27' '2021-01-27' '2021-01-27' '2021-01-27'
 '2021-01-27' '2021-01-27' '2021-01-27' '2021-01-27' '2021-01-28'
 '2021-01-28' '2021-01-28' '2021-01-28' '2021-01-28' '2021-01-28'
 '2021-01-28' '2021-01-28' '2021-01-28' '2021-01-28' '2021-01-28'
 '2021-01-28' '2021-01-28' '2021-01-28' '2021-01-28' '2021-01-28'
 '2021-01-28' '2021-01-28' '2021-01-28' '2021-01-28' '2021-01-28'
 '2021-01-28' '2021-01-28' '2021-01-28' '2021-01-29' '2021-01-29'
 '2021-01-29' '2021-01-29' '2021-01-29' '2021-01-29' '2021-01-29'
 '2021-01-29' '2021-01-29' '2021-01-29' '2021-01-29' '2021-01-29'
 '2021-01-29' '2021-01-29' '2021-01-29' '2021-01-29' '2021-01-29'
 '2021-01-29' '2021-01-29' '2021-01-29' '2021-01-29' '2021-01-29'
 '2021-01-29' '2021-01-29' '2021-01-30' '2021-01-30' '2021-01-30'
 '2021-01-30' '2021-01-30' '2021-01-30' '2021-01-30' '2021-01-30'
 '2021-01-30' '2021-01-30' '2021-01-30' '2021-01-30' '2021-01-30'
 '2021-01-30' '2021-01-30' '2021-01-30' '2021-01-30' '2021-01-30'
 '2021-01-30' '2021-01-30' '2021-01-30' '2021-01-30' '2021-01-30'
 '2021-01-30' '2021-01-31' '2021-01-31' '2021-01-31' '2021-01-31'
 '2021-01-31' '2021-01-31' '2021-01-31' '2021-01-31' '2021-01-31'
 '2021-01-31' '2021-01-31' '2021-01-31' '2021-01-31' '2021-01-31'
 '2021-01-31' '2021-01-31' '2021-01-31' '2021-01-31' '2021-01-31'
 '2021-01-31' '2021-01-31' '2021-01-31' '2021-01-31' '2021-01-31']
720
(720,)

In [14]:
january_renttime = []

for i in range(len(rent_day)):
    for j in rent_time:
        january_renttime.append(j)

january_renttime = np.array(january_renttime)
print(january_renttime)
print(len(january_renttime))
print(january_renttime.shape)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]
720
(720,)

In [15]:
np_time = np.concatenate((january_rentday.reshape(1,-1),january_renttime.reshape(1,-1)), axis=0)
print(len(np_time))
print(np_time.shape)
print(np_time)

2
(2, 720)
[['2021-01-01' '2021-01-01' '2021-01-01' ... '2021-01-31' '2021-01-31'
  '2021-01-31']
 ['0' '1' '2' ... '21' '22' '23']]

In [16]:
df_time = pd.DataFrame(np_time.T, columns=['대여일자', '대여시간'])
print(len(df_time))
print(df_time.shape)
df_time

720
(720, 2)

           대여일자 대여시간
0    2021-01-01    0
1    2021-01-01    1
2    2021-01-01    2
3    2021-01-01    3
4    2021-01-01    4
..          ...  ...
715  2021-01-31   19
716  2021-01-31   20
717  2021-01-31   21
718  2021-01-31   22
719  2021-01-31   23

[720 rows x 2 columns]

In [17]:
station_id = pd.DataFrame(columns=station_id)
station_id

Empty DataFrame
Columns: [1347, 1349, 1168, 2619, 536, 192, 1118, 1936, 1038, 1157, 1264, 1529, 1533, 1535, 3511, 2175, 956, 1457, 1737, 1686, 340, 2601, 656, 3536, 3537, 1692, 352, 2632, 2638, 3207, 2719, 2901, 853, 3115, 1390, 673, 1469, 3558, 3904, 4103, 709, 579, 102, 265, 818, 103, 1209, 1515, 1516, 1321, 2102, 2106, 2127, 1211, 2222, 2333, 1946, 1218, 1247, 1440, 1642, 391, 108, 1150, 1339, 2169, 1047, 1455, 1364, 283, 2621, 2824, 1462, 3570, 3571, 4117, 227, 553, 640, 220, 1834, 2050, 2009, 2239, 1125, 1620, 3501, 3509, 2282, 2177, 2390, 1199, 2639, 2427, 2515, 3011, 548, 259, 551, 105, ...]
Index: []

[0 rows x 2188 columns]

In [18]:
df = pd.concat([df_time, station_id], axis=1).fillna(0)
df

,대여일자,대여시간,1347,1349,1168,2619,536,192,1118,1936,...,4211,4622,4613,1627,4623,3864,3873,3863,4607,3878
0,2021-01-01,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2021-01-01,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2021-01-01,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2021-01-01,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2021-01-01,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,2021-01-31,19,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
716,2021-01-31,20,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
717,2021-01-31,21,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
718,2021-01-31,22,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
719,2021-01-31,23,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
january.dtypes

대여일자       object
대여시간        int64
대여소번호       int64
대여소명       object
대여구분코드     object
성별         object
연령대코드      object
이용건수        int64
운동량        object
탄소량        object
이동거리      float64
사용시간        int64
dtype: object

In [19]:
df = df.astype({'대여시간':'int64'})
print(df.dtypes)
df

대여일자    object
대여시간     int64
1347     int64
1349     int64
1168     int64
         ...
3864     int64
3873     int64
3863     int64
4607     int64
3878     int64
Length: 2190, dtype: object

,대여일자,대여시간,1347,1349,1168,2619,536,192,1118,1936,...,4211,4622,4613,1627,4623,3864,3873,3863,4607,3878
0,2021-01-01,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2021-01-01,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2021-01-01,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2021-01-01,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2021-01-01,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,2021-01-31,19,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
716,2021-01-31,20,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
717,2021-01-31,21,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
718,2021-01-31,22,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
719,2021-01-31,23,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
for i in tqdm(range(len(january))):
    day = january.iloc[i]['대여일자']
    time = january.iloc[i]['대여시간']
    station_number = january.iloc[i]['대여소번호']
    value = january.iloc[i]['이용건수']
    
    df.loc[(df['대여일자']==day) & (df['대여시간']==time), station_number] += value

print(df.describe())    
df

NameError: name 'january' is not defined

# 전체 데이터셋 구축

In [5]:
total_df = pd.DataFrame()

for i in tqdm(zip):
    with open(path_dir+'\\'+i,'r+',encoding='CP949',errors='ignore') as f :
        reader = csv.reader(f)
        for i,row in enumerate(reader):
            if i == 0:
                columns_name = row
            else :
                break
        file = pd.DataFrame(reader,columns=columns_name)
    total_df = pd.concat([total_df,file])

total_df

100%|██████████| 12/12 [02:53<00:00, 14.49s/it]

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간
0,2021-01-01,00,01349,1349. 월계2교 버스정류장 앞,정기권,,~10대,1,34.38,0.26,1127.50,10
1,2021-01-01,00,01168,1168. 마곡엠밸리10단지 앞,정기권,,~10대,1,0.00,0.00,0.00,7
2,2021-01-01,00,02619,2619. 석촌고분역 4번출구,정기권,,~10대,1,38.75,0.38,1658.34,14
3,2021-01-01,00,00536,536. 행당역 2번출구 앞,정기권,,~10대,1,12.96,0.17,743.88,5
4,2021-01-01,00,00192,192. 연서어린이공원,정기권,,~10대,1,23.40,0.21,908.98,7
...,...,...,...,...,...,...,...,...,...,...,...,...
1519845,2021-12-31,23,04561,4561. 양평역 1번출구,정기권,M,50대,1,22.95,0.19,840.00,4
1519846,2021-12-31,23,00815,815. LIG강촌아파트 103동앞,정기권,M,50대,1,30.20,0.21,907.98,8
1519847,2021-12-31,23,02173,2173. 당곡사거리,정기권,M,60대,1,64.55,0.48,2063.26,13
1519848,2021-12-31,23,02718,2718.마곡수명산파크1단지,정기권,M,60대,1,27.84,0.22,950.00,8
1519849,2021-12-31,23,04620,4620. 삼각지역 14번 출구 앞(교통섬),정기권,M,70대~,1,29.80,0.23,990.00,8

In [7]:
total_df.reset_index(drop=True, inplace=True)

In [8]:
total_df

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간
0,2021-01-01,00,01349,1349. 월계2교 버스정류장 앞,정기권,,~10대,1,34.38,0.26,1127.50,10
1,2021-01-01,00,01168,1168. 마곡엠밸리10단지 앞,정기권,,~10대,1,0.00,0.00,0.00,7
2,2021-01-01,00,02619,2619. 석촌고분역 4번출구,정기권,,~10대,1,38.75,0.38,1658.34,14
3,2021-01-01,00,00536,536. 행당역 2번출구 앞,정기권,,~10대,1,12.96,0.17,743.88,5
4,2021-01-01,00,00192,192. 연서어린이공원,정기권,,~10대,1,23.40,0.21,908.98,7
...,...,...,...,...,...,...,...,...,...,...,...,...
25421797,2021-12-31,23,04561,4561. 양평역 1번출구,정기권,M,50대,1,22.95,0.19,840.00,4
25421798,2021-12-31,23,00815,815. LIG강촌아파트 103동앞,정기권,M,50대,1,30.20,0.21,907.98,8
25421799,2021-12-31,23,02173,2173. 당곡사거리,정기권,M,60대,1,64.55,0.48,2063.26,13
25421800,2021-12-31,23,02718,2718.마곡수명산파크1단지,정기권,M,60대,1,27.84,0.22,950.00,8
25421801,2021-12-31,23,04620,4620. 삼각지역 14번 출구 앞(교통섬),정기권,M,70대~,1,29.80,0.23,990.00,8

In [44]:
total_df['이용건수'].unique()

array(['1', '2', '3', '5', '4', '6', '7', '8', '12', '10', '11', '9',
       '14', '13', '0.00', '11.45', '128.54', '31.13', '\\N', '97.63',
       '0.64', '1.32', '61.09', '76.82', '21.07', '0.12', '10.25',
       '69.27', '32.97', '15', '48.34', '21', '20.77', '31.24', '184.38',
       '17', '16', '20', '25', '22', '80.39', '40.49', '9.90', '168.37',
       '13.24', '31.63', '48.31', '19', '0.44', '61.64', '154.06',
       '110.05', '0.19', '0.23', '862.18', '161.44', '0.25', '0.50',
       '13.29', '103.25', '279.13', '2.07', '44.53', '210.09', '673.01',
       '32.67', '42.08', '116.13', '23.12', '0.58', '81.38', '0.26',
       '210.78', '0.92', '47.65', '173.67', '38.51', '503.10', '25.83',
       '54.85', '92.24', '386.83', '154.18', '18', '225.21', '62.93',
       '45.85', '24', '28', '23', '29'], dtype=object)

In [7]:
total_np = np.array(total_df['이용건수'])

In [8]:
np.unique(total_np, return_counts=True)

(array(['0.00', '0.12', '0.19', '0.23', '0.25', '0.26', '0.44', '0.50',
        '0.58', '0.64', '0.92', '1', '1.32', '10', '10.25', '103.25', '11',
        '11.45', '110.05', '116.13', '12', '128.54', '13', '13.24',
        '13.29', '14', '15', '154.06', '154.18', '16', '161.44', '168.37',
        '17', '173.67', '18', '184.38', '19', '2', '2.07', '20', '20.77',
        '21', '21.07', '210.09', '210.78', '22', '225.21', '23', '23.12',
        '24', '25', '25.83', '279.13', '28', '29', '3', '31.13', '31.24',
        '31.63', '32.67', '32.97', '38.51', '386.83', '4', '40.49',
        '42.08', '44.53', '45.85', '47.65', '48.31', '48.34', '5',
        '503.10', '54.85', '6', '61.09', '61.64', '62.93', '673.01',
        '69.27', '7', '76.82', '8', '80.39', '81.38', '862.18', '9',
        '9.90', '92.24', '97.63', '\\N'], dtype=object),
 array([       3,        1,        2,        1,        1,        1,
               1,        1,        1,        1,        1, 22901726,
               1,      607,        1,        1,      359,        1,
               1,        1,      214,        1,      163,        1,
               1,       97,       67,        1,        1,       49,
               1,        1,       36,        1,       21,        1,
               9,  2070298,        1,       12,        1,        8,
               1,        1,        1,        4,        1,        5,
               1,        1,        1,        1,        1,        2,
               1,   329113,        1,        1,        1,        1,
               1,        1,        1,    79204,        1,        1,
               1,        1,        1,        1,        1,    23943,
               1,        1,     8962,        1,        1,        1,
               1,        1,     3826,        1,     1926,        1,
               1,        1,     1081,        1,        1,        1,
               1], dtype=int64))

In [9]:
np.where(total_np == '\\N')

(array([777565], dtype=int64),)

In [9]:
total_df.iloc[777565]

대여일자              2021-02-02
대여시간                      18
대여소번호                  00314
대여소명      314. ?뭏냘測鍮抉解?,정기권"
대여구분코드                     F
성별                       20대
연령대코드                      1
이용건수                      \N
운동량                       \N
탄소량                     0.00
이동거리                      53
사용시간                    None
Name: 777565, dtype: object

In [12]:
total_df.drop(index=777565, inplace=True)
print(total_df.iloc[777565])

대여일자       2021-02-02
대여시간               18
대여소번호           01451
대여소명      1451. 중랑세무서
대여구분코드            정기권
성별                  F
연령대코드             20대
이용건수                1
운동량            128.92
탄소량              1.28
이동거리          5517.74
사용시간               29
Name: 777566, dtype: object

In [13]:
total_df.shape

(25421801, 12)

In [14]:
total_df = total_df.astype({'이용건수':'float64'})
total_df = total_df.astype({'이용건수':'int64'})

rentday = total_df['대여일자'].unique()
renttime = total_df['대여시간'].unique()
station_id = total_df['대여소번호'].unique()

total_rentday = []
total_renttime = []


for i in tqdm(rentday):
    for j in range(len(renttime)):
        total_rentday.append(i)

for i in tqdm(range(len(rentday))):
    for j in renttime:
        total_renttime.append(j)

total_rentday = np.array(total_rentday)
total_renttime = np.array(total_renttime)
total_np_time = np.concatenate((total_rentday.reshape(1,-1),total_renttime.reshape(1,-1)), axis=0)

df_totaltime = pd.DataFrame(total_np_time.T, columns=['대여일자', '대여시간'])
station_id = pd.DataFrame(columns=station_id)
fianl_df = pd.concat([df_totaltime, station_id], axis=1).fillna(0)
final_df = fianl_df.astype({'대여시간':'int64'})

for i in tqdm(range(len(total_df))):
    day = total_df.iloc[i]['대여일자']
    time = total_df.iloc[i]['대여시간']
    station_number = total_df.iloc[i]['대여소번호']
    value = total_df.iloc[i]['이용건수']
    
    final_df.loc[(final_df['대여일자']==day) & (final_df['대여시간']==time), station_number] += value

print(final_df.shape())
final_df

100%|██████████| 363/363 [00:00<00:00, 181578.10it/s]
100%|██████████| 363/363 [00:00<00:00, 179947.09it/s]
100%|██████████| 25421801/25421801 [16:27:13<00:00, 429.18it/s]

TypeError: 'tuple' object is not callable

In [15]:
final_df.shape

(12342, 2655)

In [18]:
final_df

,대여일자,대여시간,01349,01168,02619,00536,00192,01118,01936,01038,...,03984,04234,04240,03918,04330,03816,04327,04885,04600,03886
0,2021-01-01,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2021-01-01,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2021-01-01,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2021-01-01,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2021-01-01,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12337,2021-12-31,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12338,2021-12-31,6,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12339,2021-12-31,7,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12340,2021-12-31,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12341,2021-12-31,9,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
len(final_df['대여일자'].unique())

363

In [22]:
final_df.to_csv('dataset.csv')

In [23]:
fianl_df.describe()

,01349,01168,02619,00536,00192,01118,01936,01038,01157,01264,...,03984,04234,04240,03918,04330,03816,04327,04885,04600,03886
count,12342.0,12342.0,12342.0,12342.0,12342.0,12342.0,12342.0,12342.0,12342.0,12342.0,...,12342.0,12342.0,12342.0,12342.0,12342.0,12342.0,12342.0,12342.0,12342.0,12342.0
mean,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
std,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
len(total_df['대여소번호'].unique())

2653